<div class="min-h-screen bg-gray-100">
  <header class="bg-white shadow">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <a routerLink="/" class="text-xl font-bold text-gray-800"
          >Habit Tracker</a
        >
        <div>
          @if ((isLoggedIn$ | async) === false) {
          <ng-container>
            <a
              routerLink="/login"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
            >
              Login / Sign Up
            </a>
          </ng-container>
          } @else {
          <ng-template #loggedInTemplate>
            <a
              routerLink="/dashboard"
              class="mr-4 text-gray-600 hover:text-gray-800"
              >Dashboard</a
            >
            <button
              (click)="logout()"
              class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
            >
              Logout
            </button>
          </ng-template>
          }
        </div>
      </div>
    </nav>
  </header>
  <main class="container mx-auto mt-4 px-6">
    <router-outlet></router-outlet>
  </main>
</div>
